.hero {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-mid {
  width: 100%;
  height: 70vh;
  position: relative;
}

.hero-mid h1 {
  padding-top: 64px !important;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 800;
  color: #fff;
}

.hero-text p {
  font-size: 20px;
  color: #fff;
  padding: 8px 0 32px 0;
}

.hero-text .show {
  text-decoration: none;
  background: #fff;
  padding: 16px 32px;
  border-radius: 5px;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #123;
}

.hero-text .hide {
  display: none;
}

.hero-text .show:hover {
  background: #123;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

@media screen and (max-width: 768px) {
  .hero-text h1 {
    padding: 10px 20px;
  }

  .hero-text p {
    font-size: 18px;
    padding: 0 0 32px 0;
  }

  .hero-text .show {
    padding: 10px 18px;
    border-radius: 5px;
    font-size: 16px;
  }
}
